<div class="from-group">
    <h1 style="text-align: center">BIENVENIDO</h1>
    <br>
    <H2 style="text-align: center">MUERTO DE HAMBRE</H2>
    <br>
    <div style="text-align: center">
    <img width="300" height="300" src="../../../assets/hambre.jpg" alt="Imagen Logo">
    </div>
    <br>
    <h4 style="text-align: center">No sera de comer Alguito?</h4>
    <br>
    <h6 style="text-align: center"><a routerLink="Restaurante">Agrega tu restaurante aqui</a></h6>
    <br>
    <h6 style="text-align: center"><a routerLink="/Cliente">Registrate aqui</a></h6>
</div>